<div class="principal">
  <div class="publications">
    <div class="post">
      <div class="image">
      </div>
      <div class="info">
        <h2>Far far away, behind the word mountains</h2>
        <p>August 15, 2019</p>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden…</p>
      </div>
    </div>
    <div class="post">
      <div class="image">
      </div>
      <div class="info">
        <h2>Far far away, behind the word mountains</h2>
        <p>August 15, 2019</p>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden…</p>
      </div>
    </div>
  </div>
  <div class="options">
    <h1>Recent Posts</h1>
    <div class="recent">
      <div class="post">
        <div class="image">
        </div>
        <div class="info">
          <h2>Far far away, behind the word mountains</h2>
          <p>August 15, 2019</p>
        </div>
      </div>
      <div class="post">
        <div class="image">
        </div>
        <div class="info">
          <h2>Far far away, behind the word mountains</h2>
          <p>August 15, 2019</p>
        </div>
      </div>
      <div class="post">
        <div class="image">
        </div>
        <div class="info">
          <h2>Far far away, behind the word mountains</h2>
          <p>August 15, 2019</p>
        </div>
      </div>
      <div class="post">
        <div class="image">
        </div>
        <div class="info">
          <h2>Far far away, behind the word mountains</h2>
          <p>August 15, 2019</p>
        </div>
      </div>
      <div class="post">
        <div class="image">
        </div>
        <div class="info">
          <h2>Far far away, behind the word mountains</h2>
          <p>August 15, 2019</p>
        </div>
      </div>
    </div>
    <div class="categories">
      <h1>Categories</h1>
      <div>
        <li>C++</li>
        <li>Javascript</li>
        <li>Typescript</li>
        <li>Python</li>
      </div>
    </div>
  </div>
</div>