@font-face {
  font-family: "Ancient";
  src: url("/fonts/Ancient.ttf") format("truetype");
  font-display: swap;
}

html {
  font-family: 'Ancient', 'Roboto', 'Segoe UI', 'Arial', 'sans-serif';
}

.nav {
  display: flex;
  justify-content: space-between;
  color: gainsboro;
  align-items: center;
  padding: 1rem 5rem 1rem 5rem;
}

.logo {
  width: 252px;
  display: flex;
  justify-content: start;
  gap: .5rem;
  font-size: 18px;
}

p {
  margin: 0;
}

img {
  width: 20px;
  height: 20px;
}

.navigation{
  display : flex;
  width: 100%;
  justify-content: center;
  width: 100%;
  gap: 5rem;
}

button {
  width: 100px;
  padding: 8px 10px 8px 10px;
  background: gainsboro;
  color: black;
  border-radius: 10px;
  margin-left: .5rem;
  animation-duration: 200s;
  animation: ease-in-out;
  border-color: white;
  cursor: pointer;
}

button:hover {
  background-color: black;
  border-color: white;
  color: white;
}

.options {
  display: flex;
  gap: 1rem;
}
.search {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

input {
  padding: 0 0 5px 0;
  background: transparent;
  outline: none;
  color: white;
  border-width: 0 0 1px 0;
  border-color: white;
}