.hero {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20rem;
  padding: 0 20rem;
  text-align: center;
  gap: 1rem;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 5px 10px;
  border-radius: 10px;
}

input {
  background: transparent;
  border: none;
  outline: none;
}
